#map {
   margin: auto;
   width: 70%;
   height: 450px;
}

#filters {
   margin: 2em auto 0 auto;
   width: 70%;
}

.types, .area, .perim-list {
   display: inline-block;
   vertical-align: top;
   width: auto;
   padding: 0 50px 0 0;
}
